/* SignIn Page */
.signin-page {
  background-color: var(--color-background-signin);
}

.signin-page-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin-top: 12px;
  box-sizing: border-box;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .signin-page-container {
    padding: 2px;
    margin-top: 12px;
  }
}

@media screen and (max-width: 480px) {
  .signin-page-container {
    padding: 4px;
  }
}





  