/* Footer Styles */
.footer {
  padding: 40px 16px 50px 16px;
  background-color: var(--footer-main-bg);
  width: 100%;
  box-sizing: border-box;
}

.footer__content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.footer__title {
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family);
  font-size: var(--footer-logo-size);
  color: var(--footer-logo-color);
  margin: 0;
  margin-top: 20px;
}

.footer__links {
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: flex-start;
}

.footer__section {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  margin-bottom: 6px;
}

.footer__section-title {
  margin: 0;
  font-size: var(--footer-title-size);
  font-weight: var(--font-weight-normal);
  margin-bottom: 10px;
  color: var(--footer-title-color);
}

.footer__link {
  font-size: var(--footer-link-size);
  color: var(--footer-link-color);
  text-decoration: none;
  transition: all ease-out 0.3s;
  line-height: 1.4;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__social-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.footer__social-link {
  display: flex;
  align-items: center;
  font-size: var(--footer-link-size);
  color: var(--footer-link-color);
  text-decoration: none;
  transition: all ease-out 0.3s;
}

.footer__social-link:hover {
  text-decoration: underline;
}

.footer__social-link img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-right: 8px;
  transition: opacity 0.3s ease;
  filter: brightness(0) saturate(100%) invert(45%) sepia(7%) saturate(1000%)
    hue-rotate(206deg) brightness(95%) contrast(95%);
}

.footer__social-link:hover img {
  opacity: 0.7;
}

/* Sección legal */
.footer__legal {
  height: 150px;
  padding: 20px 16px;
  background-color: var(--footer-bottom-bg);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
}

.footer__legal-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.footer__legal-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__legal-link {
  font-size: var(--footer-bottom-size);
  color: var(--footer-bottom-text-color);
  text-decoration: none;
}

.footer__legal-link:hover {
  text-decoration: underline;
}

.footer__copyright {
  font-size: var(--footer-bottom-size);
  margin: 0;
  color: var(--footer-bottom-text-color);
  align-self: flex-end;
}
