.header {
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: var(--color-white);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

.header__logo {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain; 
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0.5rem 1.25rem;
    height: 2.75rem;
  }

  .header__logo {
    width: 2rem;
    height: 2rem;
  }
}
